*{
    border: 0; /* Borda do elemento -> Zeramos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* ----- Cores ----- */

    --color-primary : #11B0C8;
    --color-black : #000000;
    --color-black-1 : #1A1A1A;
    --color-white : #FFFFFF;


/* SIZE */
    --font-size-h1: 40px; /* Variável tamanho da fonte */
    --font-size-h2: 35px; /* Variável tamanho da fonte */
    --font-size-h3: 30px; /* Variável tamanho da fonte */
    --font-size-h4: 25px; /* Variável tamanho da fonte */
    --font-size-body: 20px; /* Variável tamanho da fonte */
    --font-size-button: 20px; /* Variável tamanho da fonte */
    --font-size-caption: 16px; /* Variável tamanho da fonte */

/* WEIGHT */
    --font-weight-h1: 600; /* Variável Espessura da Fonte */
    --font-weight-h2: 600; /* Variável Espessura da Fonte */
    --font-weight-h3: 600; /* Variável Espessura da Fonte */
    --font-weight-h4: 500; /* Variável Espessura da Fonte */
    --font-weight-body: 400; /* Variável Espessura da Fonte */
    --font-weight-button: 700; /* Variável Espessura da Fonte */
    --font-weight-caption: 400; /* Variável Espessura da Fonte */

--font-family : "Poppins", sans-serif;

}